# Common
node_modules/
dist/
build/
.cache/
.DS_Store

# Environment variables
.env
.env.*
!.env.example

# Next.js
.next/
out/
next-env.d.ts

# NestJS
backend/dist/
backend/*.tsbuildinfo

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
logs/
*.log

# Editor directories
.vscode/
.idea/
*.swp
*.swo

# Coverage
coverage/
TRASH_RUN/
