version: '3.8'

services:
  db:
    image: mysql:8
    restart: always
    environment:
      MYSQL_DATABASE: nest_auth_db
      MYSQL_ROOT_PASSWORD: password
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile
    ports:
      - "4000:4000"
    environment:
      DATABASE_URL: "mysql://root:password@db:3306/nest_auth_db"
      JWT_ACCESS_SECRET: "super-secret-access-key-123"
      JWT_REFRESH_SECRET: "super-secret-refresh-key-456"
      FRONTEND_URL: "http://localhost:3000"
    depends_on:
      - db

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile
    ports:
      - "3000:3000"
    environment:
      NEXT_PUBLIC_API_URL: "http://localhost:4000"
    depends_on:
      - backend

volumes:
  mysql_data:
